#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

clean: 
	dh_testdir
	dh_testroot
	dh_clean
	python setup.py clean
	$(RM) -r build

build:
	# nothing to do

install: build
	dh_testdir
	dh_testroot
	dh_prep
	python setup.py install --root=debian/python-gpsbabel
	find debian/python-gpsbabel -name '*.pyc' | xargs rm -f


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs 
	dh_pycentral
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
